<!DOCTYPE html>
<html>
  <head>
    <title>Northstar At Tahoe Powder Day - Action on Google</title>
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
      <meta name="author" content="Ido Green | greenido.wordpress.com | @greenido">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
  </head>
  <body background="https://cdn.glitch.com/77226634-c4ec-49b2-91d1-afa454bc1adb%2FCrested_Butte.jpg?1519855606111">
    <center>
    <header>
      <h1 class="myh1">"Is It A Pow Day At Northstar?"</h1>
    </header>
    <div class="glitchButton" style="position: absolute; top: 40px; right: 40px;"></div>
    <br><br>
    <hr>
    <main>
      <div id="snowInfo"> </div>
        <h5>
          <img src="https://common.snow.com/Mtncams/NSMTzephyr.jpg" alt="zephyr lodge snow conditions" class="snow-cond-img"/>
          <br>🏄 Zephyr  
        </h5>
        <h5>
        <img src="https://common.snow.com/Mtncams/NSSMTChallanger.jpg" alt="zephyr lodge snow conditions" class="snow-cond-img"/>
        <br>🍾 Challanger
        </h5>
        
        <h5>
        <img src="https://common.snow.com/Mtncams/NSSMTeastridge.jpg" alt="zephyr lodge snow conditions" class="snow-cond-img"/>
        <br>🗿 East Ridge
        </h5>
         <h4>
        Check it live on the <a href="https://assistant.google.com/services/a/uid/0000008b93c73c1c?hl=en">Google Assistant</a>
      </h4>
        Other live Cam:
        <a href="https://www.northstarcalifornia.com/the-mountain/mountain-conditions/mountain-cams.aspx" target="_blank">Northstar Pow Cams</a>
        , <a href="https://www.onthesnow.com/california/northstar-california/webcams.html" target="_blank">OnSnow Cams</a> , 
        <a href="https://www.onthesnow.com/california/northstar-california/skireport.html" target="_blank">Ski Report</a>
     
        <hr>
          The Code on <a href="https://glitch.com/edit/#!/pow-day-northstar">Glitch</a> and 
          <a href="https://github.com/greenido/NorthstarPowDay" target="_blank">GitHub</a>
      <p>
        <a href="https://ido-green.appspot.com">Ido's Talks and Code</a><br>
        <small>Updated: Nov 2018</small>
      </p>
    </main>
  </center>
    <!--  JS stuff    -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  </body>
    <!-- GA -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-27750723-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</html>